<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright 2019 Google LLC
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.tv.classics">

    <!-- Custom permissions for our content provider -->
    <permission android:name="${applicationId}.MEDIA" android:protectionLevel="signature" />

    <!-- Declare permissions used by our app -->
    <uses-permission android:name="${applicationId}.MEDIA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Declare non-touchscreen capabilities -->
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <!-- Declare leanback feature requirement -->
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <!-- Permissions for home screen launcher integration -->
    <uses-permission android:name="com.android.providers.tv.permission.WRITE_EPG_DATA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="true">

        <activity
            android:exported="true"
            android:name="com.android.tv.classics.MainActivity"
            android:icon="@mipmap/ic_launcher"
            android:logo="@mipmap/ic_app_banner"
            android:banner="@mipmap/ic_app_banner"
            android:label="@string/app_name"
            android:screenOrientation="landscape">

            <!-- Used as the main entry point from the leanback launcher -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>

            <!-- Used as an entry point for channels and individual channel programs -->
            <intent-filter>
                <!-- Used to launch our content directly from home screen launcher or Assistant -->
                <action android:name="android.intent.action.VIEW" />
                <!-- Allows our app to be launched from a URL, not just via explicit intent -->
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Allows our app to receive implicit intents -->
                <category android:name="android.intent.category.DEFAULT" />

                <!-- Define the filters for the URI being sent -->
                <data android:host="@string/host_name" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:pathPattern=".*" />
            </intent-filter>

            <!-- Used as an entry point from global search and Google Assistant -->
            <intent-filter>
                <!-- Used to launch our content directly from home screen launcher or Assistant -->
                <action android:name="android.intent.action.VIEW" />
                <!-- Used to query our content from other applications, such as Google Assistant -->
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <!-- Additional settings for searchable content -->
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <!-- Deep link testing, used to validate the configuration above -->
            <tools:validation testUrl="https://classics.tv.android.com" />
            <tools:validation testUrl="https://classics.tv.android.com/search?a=1" />
            <tools:validation testUrl="https://classics.tv.android.com/channel/id" />
            <tools:validation testUrl="https://classics.tv.android.com/program/id" />

        </activity>

        <!-- Broadcast receiver used to receive communication from the TV Launcher -->
        <receiver
            android:name=".receivers.TvLauncherReceiver"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <!-- Our app has been installed and should create its channel in the launcher -->
                <action
                    android:name="android.media.tv.action.INITIALIZE_PROGRAMS" />
                <!-- User has added a program to the system's watch next channel -->
                <action
                    android:name="android.media.tv.action.PREVIEW_PROGRAM_ADDED_TO_WATCH_NEXT" />
                <!-- User has removed a program from one of our channels -->
                <action
                    android:name="android.media.tv.action.PREVIEW_PROGRAM_BROWSABLE_DISABLED" />
                <!-- User has removed a program from the system's watch next channel -->
                <action
                    android:name="android.media.tv.action.WATCH_NEXT_PROGRAM_BROWSABLE_DISABLED" />
            </intent-filter>
        </receiver>

        <!-- Content provider used to expose our metadata database to other apps like Assistant -->
        <provider
            tools:ignore="ExportedContentProvider"
            android:name=".providers.TvMediaProvider"
            android:permission="${applicationId}.MEDIA"
            android:authorities="@string/authority"
            android:exported="true">
            <path-permission
                android:pathPrefix="/search"
                android:readPermission="android.permission.GLOBAL_SEARCH" />
        </provider>

    </application>


</manifest>