<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.android.tva11ydemo">
  <uses-feature
      android:name="android.hardware.touchscreen"
      android:required="false" />
  <uses-feature
      android:name="android.software.leanback"
      android:required="true" />

  <uses-permission android:name="android.permission.INTERNET" />

  <application
      android:allowBackup="true"
      android:banner="@drawable/banner"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">
    <activity android:name=".MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
        <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name=".web.WebViewActivity" />
    <activity android:name=".custom.bestpractices.CustomViewBestPracticeActivity" />
    <activity android:name=".custom.CustomViewWithExploreByTouchHelperActivity" />
    <activity android:name=".custom.CustomViewWithAccessibilityNodeProviderActivity" />
    <activity android:name=".standard.StandardViewActivity" />
  </application>

</manifest>