<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright 2020 Google LLC
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.tv.reference">

    <!-- Access internet-based media -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Touch screen is not required -->
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <!-- This is an Android TV app only (not intended for mobile) -->
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <!--suppress AndroidDomInspection -->
    <instrumentation>
        <!--suppress AndroidElementNotAllowed -->
        <meta-data
            android:name="notPackage"
            android:value="net.bytebuddy" />
    </instrumentation>

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:banner="@mipmap/ic_app_banner"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- You don't need to include android:required="false" if your app's
        minSdkVersion is 28 or higher. -->
        <uses-library
            android:name="android.test.runner"
            android:required="false" />


        <activity
            android:name=".MainActivity"
            android:exported="true">

            <!-- Used as the main entry point from the leanback launcher -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>